:root {
    --color-primary: #1c1E53;
    --color-secondary: #2405F2;
    --color-accent: #FCD980;
    --color-heading: #282938;
    --color-body: #2f303f;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--color-body);
    font-size: 1.6rem;
    line-height: 1.5;
}

h1, h2, h3 {
    color: var(--color-heading);
    margin-bottom: 1rem;
}

h1 {
    font-size: 5.5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2rem;
}

p {
    margin-top: 0;
}



/* Links */

a {
    text-decoration: none;
}

.link-arrow {
    color: var(--color-secondary);
    text-transform: capitalize;
    font-size: 1.7rem;
    font-weight: 500;
}

.link-arrow i {
    margin-left: 8px;
    transition: margin 0.15s;
    -webkit-transition: margin 0.15s;
    -moz-transition: margin 0.15s;
    -ms-transition: margin 0.15s;
    -o-transition: margin 0.15s;
}

.link-arrow:hover i {
    margin-left: 10px;
}


/* Buttons */

.btn {
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border: 0;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 2rem 3rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.btn--accent {
    background: var(--color-accent);
    color: #1B1C2B;
}
  
.btn--accent:hover {
    background: #1B1C2B;
    color: #fff;
    border: 2px solid #F4F6FC;
}

.btn--outline {
    background: transparent;
    color: #fff;
    border: 2px solid #F4F6FC;
}
  
.btn--outline:hover {
    background: var(--color-accent);
    color: #1B1C2B;
}


/* Sticky-Note */

.contact {
    width: 50rem;
    height: 9rem;
    background-color: var(--color-accent);
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
}
.contact h4 {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1.8rem;
    margin-bottom: 0.5rem;
}

.contact p {
    font-size: 1.6rem;
    margin: 0;
}


/* Work-Card */


.work-card {
    width: 30rem;
    height: 18rem;
    margin-bottom: 4rem;
}

.work-card img {
    width: 6rem;
}
.work-card h3 {
    font-size: 2.7rem;
    font-weight: 600;
    margin-top: 0.5rem;
}

.work-card p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
}


/* Features-Card */

.feature-card {
    width: 40rem;
    height: 31rem;
    margin-bottom: 4rem;
    padding: 5rem 2rem 5rem 4rem;
    background-color: #F4F6FC;
}

.feature-card img {
    width: 3rem;
}
.feature-card h3 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.feature-card p {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.5rem;
}


/* Quotes */


.quotes {
    width: 70rem;
    height: 22rem;
    background-color: rgb(236, 228, 228);
    padding-right: 10rem;
}

.quotes .quote {
    width: 100%;
    height: 60%;
    line-height: 4rem;
}

.quotes .quote h4{
    font-size: 2.4rem;
    font-weight: 500;
}

.quotes .profile {
    width: 100%;
    height: 40%;
    display: flex;
}

.quotes .profile .user-photo {
    width: 10%;
    height: 100%;
}

.quotes .profile img {
    width: 5rem;
    padding-top: 3.7rem;
}
  

.quotes .profile .name {
    width: 90%;
    height: 100%;
    padding-left: 0.5rem;
}

.quotes .profile .name h5 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0;
}
.quotes .profile .name p {
    font-size: 1.4rem;
    font-weight: 400;
}



/* Accordion */



.accordion {
    margin: 6rem auto;
    width: 80rem;
}

.accordion li {
    list-style: none;
    width: 100%;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
    background: #e3edf7;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7);
}

.accordion li label {
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
}

.accordion li label span {
    color: var(--color-secondary);
    margin-right: 3rem;
}
.accordion li label p {
    width: 60rem;
    margin-bottom: 0;
}

label::after {
    content: '+';
    margin-left: 20rem;
    font-size: 2.4rem;
    font-weight: 600;
}

input[type="radio"] {
    display: none;
}

.accordion .content {
    color: #555;
    padding: 0 1rem;
    line-height: 2.6rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
    -webkit-transition: max-height 0.5s, padding 0.5s;
    -moz-transition: max-height 0.5s, padding 0.5s;
    -ms-transition: max-height 0.5s, padding 0.5s;
    -o-transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked + label + .content {
    max-height: 40rem;
    padding: 1rem 1rem 2rem;
}

.accordion input[type="radio"]:checked + label::after {
    content: '-';
}



/* Form */



.form-container {
    background-color: rgba(28, 30, 83);
    padding: 3.2rem;
    max-width: 62.5rem;
    width: 100%;
    height: 69rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}
.form-content {
    width: 43.2rem;
    margin: 6.5rem;
}

.form-container:hover {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.form-container h2 {
    margin-bottom: 2.8rem;
    color: #fdfdfd;
    font-size: 3.2rem;
    font-weight: 500;
}
.form-container p {
    width: 45rem;
    margin-bottom: 3.5rem;
    color: #fdfdfdcc;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 2.4rem;
}

.form-group {
    margin-bottom: 1.6rem;
}

.form-group input {
    width: 100%;
    padding: 1.3rem;
    font-size: 1.6rem;
    border: 1px solid #e1e3e94b;
    border-radius: 5px;
    transition: border-color 0.3s, background-color 0.3s;
    background-color: transparent;
    color: #ffffff;
    height: 6rem;
}

.form-group input::placeholder {
    color: #eee7e78e;
    opacity: 0.7;
}

.form-group input:focus {
    border-color: #f3f3f3;
    outline: none;
}

.submit-btn {
    width: 100%;
    padding: 2rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #2e2828;
    background-color: #fcd980;
    border: none;
    border-radius: 6rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    -webkit-border-radius: 6rem;
    -moz-border-radius: 6rem;
    -ms-border-radius: 6rem;
    -o-border-radius: 6rem;
    margin: 3rem 0;
}

.submit-btn:hover {
    color: #fff;
    background-color: #1c1e83;
    transform: translateY(-2px);
}

.submit-btn:active {
    transform: translateY(0);
}

.form-content .form-link {
    color: #fff;
    text-transform: capitalize;
    font-size: 1.7rem;
    font-weight: 500;
    margin-left: 11rem;
}
.form-link:hover {
    color: #fcd980;
}

.form-link  i {
    margin-left: 8px;
    transition: margin 0.15s;
    -webkit-transition: margin 0.15s;
    -moz-transition: margin 0.15s;
    -ms-transition: margin 0.15s;
    -o-transition: margin 0.15s;
}

.form-link:hover i {
    margin-left: 10px;
}


/* Blog Card */


.card {
    background-color: #ffffff;
    width: 40rem;
    height: 60rem;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card:hover {
    transform: translateY(-8px);
}

.card-image {
    width: 100%;
    height: 28.5rem;
    object-fit: cover;
    margin-bottom: 1.4rem;
}

.card-content {
    padding: 1rem;
}

.card-date {
    color: #888;
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
}

.card-headline {
    color: #333333;
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}

.card-text {
    color: #555;
    font-size: 1.5rem;
    margin-bottom: 1.6rem;
}

.card-link {
    display: inline-flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    color: #151516;
    text-decoration: none;
    transition: color 0.3s ease;
}

.card-link span {
    margin-left: 0.8rem;
    transition: transform 0.3s ease;
}

.card-link:hover {
    color: #1b1755;
}

.card-link:hover span {
    transform: translateX(5px);
}