:root {
    --color-primary: #1c1E53;
    --color-secondary: #2405F2;
    --color-accent: #FCD980;
    --color-heading: #282938;
    --color-body: #2f303f;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--color-body);
    font-size: 1.6rem;
    line-height: 1.5;
}

h1, h2, h3 {
    color: var(--color-heading);
    margin-bottom: 1rem;
}

h1 {
    font-size: 5.5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2rem;
}

p {
    margin-top: 0;
}



/* Links */

a {
    text-decoration: none;
}

.link-arrow {
    color: var(--color-secondary);
    text-transform: capitalize;
    font-size: 1.7rem;
    font-weight: 500;
}

.link-arrow i {
    margin-left: 8px;
    transition: margin 0.15s;
    -webkit-transition: margin 0.15s;
    -moz-transition: margin 0.15s;
    -ms-transition: margin 0.15s;
    -o-transition: margin 0.15s;
}

.link-arrow:hover i {
    margin-left: 10px;
}


/* Buttons */

.btn {
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border: 0;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 2rem 3rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.btn--accent {
    background: var(--color-accent);
    color: #1B1C2B;
}
  
.btn--accent:hover {
    background: #1B1C2B;
    color: #fff;
    border: 2px solid #F4F6FC;
}

.btn--outline {
    background: transparent;
    color: #fff;
    border: 2px solid #F4F6FC;
}
  
.btn--outline:hover {
    background: var(--color-accent);
    color: #1B1C2B;
}


/* Sticky-Note */

.contact {
    width: 50rem;
    height: 9rem;
    background-color: var(--color-accent);
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
}
.contact h4 {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1.8rem;
    margin-bottom: 0.5rem;
}

.contact p {
    font-size: 1.6rem;
    margin: 0;
}


/* Work-Card */


.work-card {
    width: 30rem;
    height: 18rem;
    margin-bottom: 4rem;
}

.work-card img {
    width: 6rem;
}
.work-card h3 {
    font-size: 2.7rem;
    font-weight: 600;
    margin-top: 0.5rem;
}

.work-card p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
}


/* Features-Card */

.feature-card {
    width: 40rem;
    height: 31rem;
    margin-bottom: 4rem;
    padding: 5rem 2rem 5rem 4rem;
    background-color: #F4F6FC;
}

.feature-card img {
    width: 3rem;
}
.feature-card h3 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.feature-card p {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.5rem;
}


/* Quotes */


.quotes {
    width: 70rem;
    height: 22rem;
    background-color: rgb(236, 228, 228);
    padding-right: 10rem;
}

.quotes .quote {
    width: 100%;
    height: 60%;
    line-height: 4rem;
}

.quotes .quote h4{
    font-size: 2.4rem;
    font-weight: 500;
}

.quotes .profile {
    width: 100%;
    height: 40%;
    display: flex;
}

.quotes .profile .user-photo {
    width: 10%;
    height: 100%;
}

.quotes .profile img {
    width: 5rem;
    padding-top: 3.7rem;
}
  

.quotes .profile .name {
    width: 90%;
    height: 100%;
    padding-left: 0.5rem;
}

.quotes .profile .name h5 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0;
}
.quotes .profile .name p {
    font-size: 1.4rem;
    font-weight: 400;
}







