<ul class="accordion">
    <li>
        <input type="radio" name="accordion" id="first" checked>
        <label for="first"><span>01</span><p>How much time does it take?</p></label>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
    </li>
    <li>
        <input type="radio" name="accordion" id="second">
        <label for="second"><span>02</span><p>What is your class naming convention?</p></label>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
    </li>
    <li>
        <input type="radio" name="accordion" id="third">
        <label for="third"><span>03</span><p>How do you communicate?</p></label>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
    </li>
    <li>
        <input type="radio" name="accordion" id="fourth">
        <label for="fourth"><span>04</span><p>I have a bigger project. Can you handle it?</p></label>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
    </li>
    <li>
        <input type="radio" name="accordion" id="fifth">
        <label for="fifth"><span>05</span><p>What is your class naming convention?</p></label>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
    </li>

</ul>