<div class="card">
    <img src="images/blog-1.jpg" alt="Card Image" class="card-image">
    <div class="card-content">
        <p class="card-date">October 29, 2024</p>
        <h3 class="card-headline">How one Webflow user grew his single person consultancy from $0-100K in 14 months</h3>
        <p class="card-text">See how pivoting to Webflow changed one person’s sales strategy and allowed him to attract</p>
        <a href="#" class="card-link">Read more <span>&#8594;</span></a>
    </div>
</div>