<section id="feature">
    <div class="feature-item">
        <div class="feature-heading">
            <h5>Features</h5>
            <h2>Design that solves <br> problems, one product at <br> a time</h2>
        </div>
        <div class="feature-cards">
            <div class="feature-card-collection">
                <div class="feature-collection-1">
                    <div class="feature-card">
                        <img src="images/Icon 1.png" alt="icon-1">
                        <h3>Uses Client First</h3>
                        <p>Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam sed faucib turpis eu gravida mi. Pellentesque et velit aliquam sed mi. </p>
                    </div>
                    <div class="feature-card">
                        <img src="images/Icon 2.png" alt="icon-1">
                        <h3>Two Free Revision Round</h3>
                        <p>Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam sed faucib turpis eu gravida mi. Pellentesque et velit aliquam sed mi. </p>
                    </div>
                    <div class="feature-card">
                        <img src="images/Icon 3.png" alt="icon-1">
                        <h3>Template Customization</h3>
                        <p>Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam sed faucib turpis eu gravida mi. Pellentesque et velit aliquam sed mi. </p>
                    </div>
                </div>
                <div class="feature-collection-2">
                    <div class="feature-card">
                        <img src="images/Icon 4.png" alt="icon-1">
                        <h3>24/7 Support</h3>
                        <p>Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam sed faucib turpis eu gravida mi. Pellentesque et velit aliquam sed mi. </p>
                    </div>
                    <div class="feature-card">
                        <img src="images/Icon 5.png" alt="icon-1">
                        <h3>Quick Delivery</h3>
                        <p>Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam sed faucib turpis eu gravida mi. Pellentesque et velit aliquam sed mi. </p>
                    </div>
                    <div class="feature-card">
                        <img src="images/Icon 6.png" alt="icon-1">
                        <h3>Hands-on approch</h3>
                        <p>Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam sed faucib turpis eu gravida mi. Pellentesque et velit aliquam sed mi. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>