<footer id="footer">
    <div class="footer-top">
        <div class="footer-top-left">
            <div class="footer-heading">
                <a href="#"><img src="images/Finsweet white logo 1.png" alt="Finsweet Logo"></a>
                <p>We are always open to discuss your project and improve your online presence.</p>
            </div>
            <div class="footer-sticky-note">
                <div class="contact">
                    <div class="one">
                        <h4>Email me at</h4>
                        <p>contact@website.com</p>
                    </div>
                    <div class="two">
                        <h4>Call us</h4>
                        <p>01758-842551</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-top-right">
            <div class="footer-right">
                <h2>Lets Talk!</h2>
                <p>We are always open to discuss your project, improve your online presence and help with your UX/UI design challenges.</p>
                <div class="social-icons">
                    <a href="#" class="social-icon facebook"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#" class="social-icon instagram"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" class="social-icon linkedin"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="#" class="social-icon twitter"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="copyright-left">
            Copyright 2024, <a href="https://finesweet.com" target="_blank">Finesweet.com</a>
        </div>
        <div class="copyright-nav">
            <a href="#">Home</a>
            <a href="#">About Us</a>
            <a href="#">Features</a>
            <a href="#">Pricing</a>
            <a href="#">FAQ</a>
            <a href="#">Blog</a>
        </div>
    </div>
</footer>