<footer class="footer-top-right">
    <div class="footer-right">
        <h2>Lets Talk!</h2>
        <p>We are always open to discuss your project, improve your online presence and help with your UX/UI design challenges.</p>
        <div class="social-icons">
            <a href="#" class="social-icon facebook"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" class="social-icon instagram"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" class="social-icon linkedin"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#" class="social-icon twitter"><i class="fa-brands fa-twitter"></i></a>
        </div>
    </div>
</footer>