<section id="project">
    <div class="project-heading">
        <h2>View Our Projects</h2>
        <a href="#" class="link-arrow">View Pricing<i class="fa-solid fa-arrow-right"></i></a>
    </div>
    <div class="project-list">
        <div class="big-project">
            <div class="project-image-container">
                <img src="images/work-1.jpg" alt="Portfolio Image">
                <div class="project-overlay">
                    <h2>Workhub Office Webflow <br> Website Design</h2>
                    <p>Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam.</p>
                    <a href="#" class="project-overlay-link">View Portfolio <span>&#8594;</span></a>
                </div>
            </div>
        </div>
        <div class="small-project">
            <div class="image-container">
                <img src="images/work-2.jpg" alt="Portfolio Image">
                <div class="overlay">
                    <h2> Unisaas Website <br> Design</h2>
                    <a href="#" class="overlay-link">View Portfolio <span>&#8594;</span></a>
                </div>
            </div>
            <div class="image-container">
                <img src="images/work-3.jpg" alt="Portfolio Image">
                <div class="overlay">
                    <h2>Finesweet Website Design</h2>
                    <a href="#" class="overlay-link">View Portfolio <span>&#8594;</span></a>
                </div>
            </div>
        </div>
    </div>
</section>