<div class="image-container">
    <img src="images/work-2.jpg" alt="Portfolio Image">
    <div class="overlay">
        <h2> Unisaas Website <br> Design</h2>
        <a href="#" class="overlay-link">View Portfolio <span>&#8594;</span></a>
    </div>
</div>
<div class="image-container">
    <img src="images/work-3.jpg" alt="Portfolio Image">
    <div class="overlay">
        <h2>Finesweet Website Design</h2>
        <a href="#" class="overlay-link">View Portfolio <span>&#8594;</span></a>
    </div>
</div>