<section id="testimonial-block">
    <div class="testi-heading">
        <h2>What our clients say about us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed.</p>
    </div>
    <div class="testi-content">
        <div class="quotes">
            <div class="quote"><h4>"The best agency we’ve worked with so far. They understand our product and are able to add new features with a great focus."</h4></div>
            <div class="profile">
                <div class="user-photo"><img src="images/profile.png" alt="profile of user"></div>
                <div class="name">
                    <h5>Jenny wilson</h5>
                    <p>Vice President</p>
                </div>
            </div>
        </div>
    </div>
</section>