<div class="work-card-collection">
    <div class="collection-1">
        <div class="work-card">
            <img src="images/pointer 1.png" alt="pointer-1">
            <h3>Strategy</h3>
            <p>Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam . </p>
        </div>
        <div class="work-card">
            <img src="images/pointer 2.png" alt="pointer-2">
            <h3>Wireframing</h3>
            <p>Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam . </p>
        </div>
    </div>
    <div class="collection-2">
        <div class="work-card">
            <img src="images/pointer 3.png" alt="pointer-3">
            <h3>Design</h3>
            <p>Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam . </p>
        </div>
        <div class="work-card">
            <img src="images/pointer 4.png" alt="pointer-4">
            <h3>Development</h3>
            <p>Euismod faucibus turpis eu gravida mi. Pellentesque et velit aliquam . </p>
        </div>
    </div>
</div>